$background-color: rgba(46, 44, 44, 0.82);
$header-color: rgba(7, 40, 73, 0.6);
.App {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.App-header {
  display: inline-flex;
  width: 100%;
  height: 77px;
  position: absolute;
  background: $header-color;
  padding: 20px;
  color: white;
  z-index: 1;
  h1,
  h2 {
    margin-top: auto;
    margin-bottom: 0px;
  }
  h2 {
    font-size: 1.3em;
  }
}
.hearder-margin {
  width: 25px;
}
.App-title {
  font-size: 1.8em;
}
html,
body {
  background-color: $background-color;
  height: 100%;
  width: 100%;
}
