#card_img {
  width: 40%;
  height: 40%;
  position: absolute;
  right: 0px;
}
#card_text {
  font-size: 50px;
  position: absolute;
  bottom: 0px;
}
.card_component {
  width: 30px;
  height: 42px;
  border-width: 1.5px;
  padding: 3px;
  margin-left: 3px;
  margin-right: 3px;
}
.activatedFalse {
  button {
    cursor: default;
  }
}
.card_player {
  &:not(.card_img) {
    width: 100%;
  }
  &.card_img {
    width: 80%;
    bottom: 2px;
    right: 0px;
    position: absolute;
  }
}
.symbolCardImg {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
}
