#icon_component {
  width: 30px;
  height: 30px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 23px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 0px;
  position: relative;
  display: flex;
}
#icon_img {
  width: 100%;
  height: 100%;
}
.TooltipIcon {
  &.selected {
    border: 2px solid rgb(22, 136, 242);
    background-color: rgba(22, 136, 242, 0.2);
    padding: 1px;
  }
  &.unselectable {
    border: 2px solid rgb(255, 51, 51);
    background-color: rgba(255, 51, 51, 0.2);
    padding: 1px;
  }
  &:not(.selected, .unselectable) {
    border: 1px solid black;
    padding: 2px;
  }
  .iconPlayer {
    left: 0px;
    width: 65%;
    margin: 17.5%;
    height: 65%;
    position: absolute;
    cursor: pointer;
  }
}
.iconContent {
  font-size: 21px;
  width: 100%;
  font-weight: bold;
}
