.Player {
  width: 121px;
  height: 75px;
  border-radius: 6px;
  padding: 0px;
  position: absolute;

  &:not(.activate) {
    border: 1.5px solid rgba(255, 255, 255, 0);
    background: rgba(156, 157, 156, 0.3);
  }
  &:not(.activate) > .row > .cardDiv > .card {
    opacity: 0.4;
  }
  &.activate {
    background: rgba(156, 157, 156, 0.8);
    border: 1.5px solid white;
  }
  &.activate > .row .cardDiv > .card {
    opacity: 1;
  }
}

.row {
  width: 100%;
  margin: 0px;
}
.playerName {
  font-size: 16px;
  padding: 4px;
  margin: 0px;
}
#card_component {
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
}
.iconPlayer {
  width: 22px;
  margin: 4px;
  cursor: pointer;
}
